body {
    background-color: rgb(45, 47, 75);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    display: flex;
  }
  
  .pac-man {
    width: 0px;
    height: 0px;
    border-right: 30px solid transparent;
    border-top: 30px solid rgb(229, 255, 0);
    border-left: 30px solid rgb(229, 255, 0);
    border-bottom: 30px solid rgb(229, 255, 0);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  








