body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.parent {
  padding: 20px;
  background-color: lightgreen;
}
.child{
  padding: 20px;
  background-color: plum;
}
